*# created by virtualenv automatically

venv/
**/*.pyc
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info
*.egg-link
*.dist-info
*.egg-tmp
*.egg-tmp-*
*.egg-tmp-*/**/*
*.egg-tmp-*/**/**/*
*.egg-tmp-*/**/**/**/*
staticfiles
db.sqlite3
db.sqlite3-journal